.mainContainer {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mainContent {
  height: 300vh;
}

@media screen and (max-width: 1024px) {
  .mainContent {
    width: calc(100% - 88px);
  }

  .navCta__link {
    width: fit-content;
  }

  .navLink__label {
    display: none;
  }

  .navCta__link__label {
    display: none;
  }

  .navCta__link__icon svg {
    fill: var(--color-text);
    width: 24px;
    height: 24px;
    width: fit-content;
  }

  .profileBtn__user{
    display: none;
  }

  .profileBtn__actions{
    display: none;
  }
}

/* media query desktop */
@media screen and (min-width: 1025px) {
  .mainContainer {
    padding-left: 7%;
    padding-right: 7%;
  }

  .mainContent {
    width: 70%;
    display: flex;
    justify-content: space-between;
  }

  .content {
    width: 60%;
  }

  .sidebar {
    width: 40%;
  }

  .navCta__link {
    width: 80%;
  }

  .navCta__link__icon {
    display: none;
  }
}
