@import url(./utils/color.css);
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
}

body {
  background-color: #121212;
  color: #ffffff96;
}

.rainy {
  background: var(--rainy);
  background-color: red;
}

.sunny {
  background: var(--sunny);
  background-color: blue;
}

#box {
  background: url(https://cdn.rawgit.com/ManzDev/cursos-assets/gh-pages/css3/earth-2.jpg);
  background-size: cover;
  border: 2px solid #000;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation: mov 5s linear 0s infinite;
  box-shadow: 0 0 25px RGBA(255, 255, 255, 0.1), -8px -8px 15px #000 inset,
    2px 2px 25px #000 inset, -45px -45px 25px RGBA(0, 0, 0, 0.5) inset,
    25px 25px 45px RGBA(0, 0, 0, 0.45) inset;
  margin: 6em auto;
  transform: rotateX(6deg) rotateY(6deg) rotateZ(6deg);
}

#intro {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.intro__title {
  font-size: 5rem;
}

.intro__input {
  width: 300px;
  height: 40px;
  padding: 4px;
  color: #4a4a4a;
  border: none;
  text-align: center;
  background: rgba(255, 255, 255, 0.55);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
}

.intro__btn {
  width: 120px;
  height: 40px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.55);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
}

.intro__btn:hover {
  transform: scale(1.02);
}

/* MAIN */
.weather__main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.location {
  font-size: 5rem;
}

.weather__top {
  display: flex;
}

.weather__mid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather__mid h3 {
  font-size: 2.5rem;
}

.weather__img {
  width: 100px;
}

.weather__bott {
  display: flex;
  gap: 40px;
}

.weather__bott__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 100px;

  background: rgba(255, 255, 255, 0.5);
  color: white;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15.8px);
  -webkit-backdrop-filter: blur(15.8px);
}

@media only screen and (max-width: 768px) {
  #language {
    position: fixed;
    top: 10px;
    right: 10px;
  }

  #box {
    width: 200px;
    height: 200px;
    margin: 40px auto;
  }
  

  /* INTRO */
  #intro {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .intro__title {
    font-size: 50px;
  }

  .intro__img {
    width: 30%;
    margin-bottom: 30%;
  }

  .intro__input {
    width: 60%;
    height: 7%;
    padding: 4px;
    border-radius: 12px;
    background-color: rgb(215, 215, 215);
    border: none;
    text-align: center;
  }

  .intro__btn {
    width: 40%;
    height: 7%;
    border-radius: 12px;
    border: none;
    cursor: pointer;
  }

  .intro__btn:hover {
    transform: scale(1.02);
  }
  /* end intro */

  /* MAIN */
  .weather__main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .weather__img {
    width: 30vw;
    height: auto;
    border-radius: 100%;
  }

  .weather__main h2 {
    font-size: 4.5rem;
    margin: 0;
  }

  .weather__top {
    font-size: 1.5rem;
    display: flex;
    margin: 0;
  }

  .weather__mid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .weather__mid h3 {
    font-size: 3rem;
  }

  .weather__bott {
    display: flex;
    gap: 28px;
  }

  .weather__bott__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }

  .weather__bott__container:nth-child(1) {
    font-weight: bold;
  }
  /* end MAIN */

  .none {
    display: none;
  }
}

/* 
768px
769
1024 */

@keyframes mov {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 355px 0;
  }
}
