:root {
  --primary: #101014;
  --sunny: radial-gradient(
    circle at -8.9% 1.2%,
    rgb(255, 124, 0) 0%,
    rgb(255, 124, 0) 15.9%,
    rgb(255, 163, 77) 20.9%,
    rgb(255, 163, 77) 24.4%,
    rgb(145, 182, 206) 24.5%,
    rgb(45, 145, 207) 66%
  );
  --rainy: radial-gradient(
    circle at -8.9% 1.2%,
    rgb(248, 139, 37) 0%,
    rgb(211, 120, 34) 15.9%,
    rgb(207, 134, 65) 20.9%,
    rgb(190, 129, 71) 24.4%,
    rgb(84, 105, 118) 24.5%,
    rgb(87, 95, 100) 66%
  );
}
