:root {
  --blue: rgba(14, 20, 40, 0.816);
  --cambridge: #7b9e89ff;
  --cambridge-light: rgba(123, 158, 137, 0.613);
  --cambridge-temp: rgba(123, 158, 137, 0.2);
  --green: rgba(27, 81, 45, 0.767);
  --orange: rgba(186, 19, 0, 0.18);
  --yellow: #f0f58f;
  --coral: #fc814aff;

  --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
